* { box-sizing: border-box; }

/* Variable verde  */
:root {
    --headerColor: rgb(82, 174, 82);;
}


/* Header */

header * {
    color: var(--headerColor);
}

.header__logo {
    font-size: 2.5em;
    font-weight: 900;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: var(--headerColor);
    color: white;
}
a:focus, a:hover {
    color: var(--headerColor);
}